
<ion-pane>
	<ion-content>

	

	
	<div class="col-md-6">
	<div ng-bind="questions.problem" style="text-align:center; color:white; font-size:18px; text-transform:uppercase; margin-top:20px;"></div>

	<div onload= 'startTimer()' style="text-align:right; margin-right:20px; font-size:30px; color:white;">
    {{counter}}
   	</div>
   	</div>


	<form>
		<div ng-repeat="answer in questions.possibleAns" style="width:100%;">
			
			<input type = "button" style="{{changeColor($index)}}; {{answerColor($index)}}" value={{answer}} ng-click="selectedAnswer($index)" class="trivia-btn" ng-attr-id={{$index}}>

			</input>
			</div>
	</form>

	</ion-content>
</ion-pane>